.tittle-main {
    font-size: 24px;
    margin: 25px 0px 50px ;
}

.biography-text {
    font-size: 20px;
    margin: 0px;
    margin-bottom: 20px;
    line-height: 30px;
}

.block-text {
    font-size: 18px;
    margin: 0px;
    margin-bottom: 20px;
    line-height: 30px;
}

h3 {
    margin: 0px;
    margin-bottom: 50px;
}    

.tittle-email {
    font-size: 24px;
    margin: 25px 0px 50px ;
    width: 100%;
    display: flex;
    justify-content: center;
}

.email {
    font-size: 24px;
    text-decoration: underline;
    margin: 50px 0px 50px ;
}

.client-email {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
}

.email-box {
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}   

.email-text {
    border: none;
    background-color: #ffffff07;
    color: #FF5C00;
    flex: 1 1 100%;
    display: flex;
    width: 100%;
    margin: 0px;
    font-size: 24px;
    border-radius: 3px;
    outline: solid 1px transparent;
    transition: outline 1s;
}

.email-text:focus {
    outline: solid 1px #ff5e0054;
    transition: outline 1s;
}

.email-text:not(:focus) {
    outline-color: transparent;
    transition: outline-color .5s;
}

.button-send-email {
    margin: 5px;
	text-align: center;
	border: none;
	border-radius: 3px;
	background: transparent;
	color: #FF5C00;
	cursor: pointer;
    flex: 1 1 30px;
    width: 30px;
}

.button-send-email:active {
	color: #FF5C00;
}