.tittle-main {
    font-size: 24px;
    margin: 25px 0px 50px ;
}

.biography-text {
    font-size: 20px;
    margin: 0px;
    margin-bottom: 20px;
    line-height: 30px;
}

.block-text {
    font-size: 18px;
    margin: 0px;
    margin-bottom: 20px;
    line-height: 30px;
}

h3 {
    margin: 0px;
    margin-bottom: 50px;
}    

.tittle-email {
    font-size: 24px;
    margin: 25px 0px 50px ;
    width: 100%;
    display: flex;
    justify-content: center;
}

.email {
    font-size: 24px;
    text-decoration: underline;
    margin: 50px 0px 50px ;
}

.client-email {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
}

.email-box {
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}   